.container-fluid {
    margin-top: 20px;
}


.alert {
    background-color: #f8d7da; 
    color: #721c24;
    border-radius: 8px;
}

.alert button {
    border-radius: 5px; 
}

.btn-assist {
    padding: 5px 10px; 
    font-size: 0.875rem; 
    width:120px;
}


.card {
    border-radius: 10px; 
    background-color: #f8f9fa; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.table {
    margin-top: 10px;
    text-align: center;
}

.table th, .table td {
    vertical-align: middle;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #17a2b8; 
    color: white;
}

.btn-outline-info {
    color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-info:hover {
    background-color: #17a2b8;
    color: white;
}


.stock-btn {
    min-width: 120px;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
}

.organ-section {
    margin-top: 20px;
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
}

.organ-section h5 {
    text-align: center;
    font-weight: bold;
}
