.container {
    padding-top: 50px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.table thead {
    background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}


.container {
    padding-top: 50px;
}



